<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>ask485?</title>
  </head>
  <body>
    <h2 class="ask485">ask485?</h2>
    <form action="/" method="GET">
      <div><input type="text" name="q" /></div>
      <div><input type="range" name="w" /></div>
      <input type="submit" value="Search" />
    </form>
  </body>
</html>
